# Gestion des données et calculs scientifiques
pandas
numpy
scipy

# Machine Learning
scikit-learn
lightgbm

# Visualisation
matplotlib
seaborn
plotly

# Génération de rapports
reportlab
fpdf

# Application Web
streamlit
pyngrok

# Utilitaires additionnels
openpyxl
jq